<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctores</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1 id="main-title">Doctores</h1>
        <div class="main-container">
            <div class="container">
                <div id="ind-container">
                    <p id="nombre">Nombre: </p>
                    <div id="highlight">
                        <p id="rol">Puesto: </p>
                    </div>
                    <p id="horario">Horario: </p>
                </div>
                <br>
                <div id="ind-container">
                    <p id="nombre">Nombre: </p>
                    <div id="highlight">
                        <p id="rol">Puesto: </p>
                    </div>
                    <p id="horario">Horario: </p>
                </div>
                <br>
                <div id="ind-container">
                    <p id="nombre">Nombre: </p>
                    <div id="highlight">
                        <p id="rol">Puesto: </p>
                    </div>
                    <p id="horario">Horario: </p>
                </div>
            </div>
            <div id="info-doc">
                <img id="image-d" src="static/logo3.png">
                <p id="nombre-d">Nombre: </p>
                <p id="puesto-d">Puesto: </p>
                <p id="horario-d">Horario de disponibilidad </p>
                <p id="horario-d2">Horario:</p>
            </div>
        </div>
    </body>
</html>