<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctores</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <a href="http://127.0.0.1:5000/">
            <button>Regresar</button>
        </a>        
        <h1 id="main-title">Doctores</h1>
        <div class="main-container">
            {% for doctor in doctores %}
            <div class="container">
                <div id="ind-container">
                    <img id="image" src= "static/{{ doctor.imagen }}">
                    <div>
                        <p id="nombre"> {{ doctor.nombre }}</p>
                        <div id="highlight">
                            <p id="rol"> {{ doctor.rol }}</p>
                        </div>
                        <p id="horario"> {{ doctor.horario }}</p>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </body>        
</html>