<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>¡Bienvenido!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <a href="http://127.0.0.1:5000/">
            <button id="regresar-b">Regresar</button>
        </a>
        <h1 id="bienvenido">¡Bienvenido!</h1>
        <form action="/citas" method="POST">
            <div class="info">
                <img id="logo" src="{{ url_for('static', filename='logo3.png') }}">
                <h1 id="a">Agendar Cita</h1>
            </div>
            <label for="nombre">Nombre del paciente:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>
    
            <label for="fecha">Fecha de la cita:</label>
            <input type="date" id="fecha" name="fecha" required><br><br>
    
            <label for="hora">Hora de la cita: </label>
            <input type="time" id="hora" name="hora" required><br><br>
    
            <label for="motivo">Motivo de consulta:</label>
            <input type="text" id="motivo" name="motivo" required><br><br>
    
            <button id="agendar" type="submit">Agendar cita</button>
        </form>
    </body>
</html>