<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctores</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    </head>
    <body>
        <div class="container">
            <div id="main-container">
                <div id="info">
                    <h1 id="title">Fauget</h1>
                    <h2 id="subtitle">Centro Medico</h2>
                    <p id="p">Bienvenido a Fauget Medical, donde tu salud es nuestra prioridad. Ofrecemos atención médica de calidad con un equipo de profesionales dedicados y tecnología avanzada para cuidar de ti y de los tuyos.</p>
                    <div id="botones">
                        <a href="http://127.0.0.1:5000/citas">
                            <button id="agendar">Agenda una cita</button>
                        </a>
                        <a href="http://127.0.0.1:5000/enfermeros">
                            <button id="enfermeros">Conoce a nuestros enfermeros</button>
                        </a>
                    </div>
                </div>
                <img id="logo" src="static/logo-h3.png">
            </div>
            <div class="doctores-info">
                <p id="">Tenemos a los mejores doctores de Guadalajara</p>
                <a href="http://127.0.0.1:5000/doctores">
                    <button id="conocenos">Conocelos</button>
                </a>
            </div>
        </div>
    </body>        
</html>