<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctores</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    </head>
    <body>
        <div class="container">
            <div id="main-container">
                <div id="info">
                    <h1 id="title">Hospital</h1>
                    <h2 id="subtitle">Hospital Lorem Ispum</h2>
                    <p id="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <button id="agendar">Agenda una cita</button>
                </div>
                <img id="logo" src="static/logo-h.png">
            </div>
            <div class="doctores-info">
                <p id="">Tenemos a los mejores doctores de Guadalajara</p>
                <button id="conocenos">Conocelos</button>
            </div>
        </div>
    </body>        
</html>